<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evellyn Doceria & Bistrô</title>
    <link rel="stylesheet" href="../css/style.css" />
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="home">
      <div class="logo">
        <img src="../assets/logo.png" alt="logo Evellyn Doceria & Bistrô" />
      </div>
    </header>

    <div class="navigation-back">
      <a class="btn" href="../index.html">Voltar</a>
    </div>
    <div class="title__view">
      <h2>Brownies</h2>
    </div>
    <section class="section-view">
      <!-- Categorias de Produtos -->
      <div class="produtos_brownie">
            <div class="item__box">
              <img src="../assets/brownie/sorvete.jpg" alt="" />
              <div class="item__description"> 
                <h3>COM SORVETE</h3>
                <span>R$ 15,00</span>
                <p>Fatia de Brownie, coberta com ganache de chocolate, farofa de amendoim, sorvete e Calda de Chocolate.</p>                   
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/brownie/coffe_brownie.jpg" alt="" />
              <div class="item__description">
                <h3>COFFE BROWNIE</h3>
                <span>R$ 15,00</span>
                <p>
                  Fatia de brownie de café, creme de ninho, bola de sorvete, ovomaltine.
                </p>  
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/brownie/crocante.jpg" alt="" />
              <div class="item__description">
                <h3>CROCANTE</h3>
                <span>R$ 17,00</span>
                <p>Fatia de brownie branco, amendoim, brigadeiro de nozes, uma bola de sorvete, ovomaltine.</p>  
              </div>
            </div>
            <div class="line">
              <img src="../assets/sets.png" alt="" />
            </div>
            <div class="item__box">
              <img src="../assets/brownie/especial.jpg" alt="" />
              <div class="item__description">
                <h3>ESPECIAL</h3>
                <span>R$ 17,00</span>
                <p>Fatia de Brownie, coberta com ganache de nutella, farofa de amendoim, sorvete, morangos frescos e calda de chocolate.</p>
              </div>
            </div>          
            <div class="item__box">
              <img src="../assets/brownie/eifel.jpg" alt="" />
              <div class="item__description">
                <h3>TORRE EIFEL</h3>
                <span>R$ 32,00</span>
                <p>Duas fatias de brownie, brigadeiro de leite, bola de sorvete, ganache de chocolate, morangos, nutella, chocolate kinder bueno.</p> 
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/brownie/perfeicao.jpg" alt="" />
              <div class="item__description">
                <h3>PERFEIÇÃO</h3>
                <span>R$ 30,00</span>
                <p>Duas fatias de brownie, creme kinder, morangos, nutella, picolé tipo magnum.</p> 
              </div>
            </div>
        </div>
      </div>
    </section>
    <div class="navigation-back">
      <a class="btn" href="../index.html">Voltar</a>
    </div>
    <footer>
      <div class="endereco">
        <h3>Endereços</h3>
        <div class="category_endereco">
          <div class="endereco__item">
            <span>Jardim Paulista Baixo</span>
            <p>Av. Pres. Tancredo Neves, 9A</p>
          </div>
          <div class="endereco__item">
            <span>Casa Caiada</span>
            <p>Av. Carlos de Lima Cavalcante, 3911</p>
          </div>
        </div>
      </div>
      <div class="container__info">            
        <ul class="list_footer">
            <li class="list__item"><a href="#"><img src="../assets/facebook.svg" alt=""></a></li>
            <li  class="list__item"><a href="#"><img src="../assets/instagram.svg" alt=""></a></li>
        </ul>                      
    </div>
      <a href="#home"><div class="arrow"></div></a>
      <div class="copyright">
        <div class="logo__footer">
          <img src="../assets/logo.png" alt="Logo Evellyn Doceria & Bistrô" />
        </div>
        <span>Todos os direitos reservados</span>
        <p>Evellyn Doceria & Bistrô</p>
      </div>
    </footer>
  </body>
</html>
