<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evellyn Doceria & Bistrô</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/view-style.css" />
  </head>
  <body>
    <header id="home">
      <div class="logo">
        <img src="../assets/logo.png" alt="logo Evellyn Doceria & Bistrô" />
      </div>
    </header>

    <div class="navigation-back">
      <button><a href="../index.html">Voltar</a></button>
    </div>
    <div class="title__view">
      <h2>Edições Limitadas</h2>
    </div>
    <section class="section-view">
      <!-- Categorias de Produtos -->
      <div class="produtos_view">
        <div class="produtos__box">
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>CHOCOBROWNIE</h3>
              <p>
                Brigadeiro de Chocolate, farofa de brownie, sorvete de
                chocolate, brownie, ganache de chocolate calda de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>Oreo</h3>
              <p>
                Brigadeiro branco, gotas de biscoito Oreo, sorvete de baunilha,
                recheio laka oreo, biscoito Oreo.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>

          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>LEITE COM CREME DE NUTELLA</h3>
              <p>
                Brigadeiro de Chocolate, leite em pó, sorvete chocoleite, creme
                de ninho, creme de nutella, bolo branco, calda de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa8.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
        </div>

        <div class="line">
          <img src="../assets/sets.png" alt="" />
        </div>
        <div class="produtos__box">
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
        </div>
        <div class="line">
          <img src="../assets/sets.png" alt="" />
        </div>
        <div class="produtos__box">
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/capas/capa1.jpeg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate.
              </p>
              <span>R$</span><span class="preco">25,00</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="navigation-back">
      <button><a href="../index.html">Voltar</a></button>
    </div>
    <footer>
      <div class="endereco">
        <h3>Endereços</h3>
        <div class="category_endereco">
          <div class="endereco__item">
            <span>Jardim Paulista Baixo</span>
            <p>Av. Pres. Tancredo Neves, 9A</p>
          </div>
          <div class="endereco__item">
            <span>Casa Caiada</span>
            <p>Av. Carlos de Lima Cavalcante, 3911</p>
          </div>
        </div>
      </div>
      <!--      
      <div class="container__info">            
          <ul class="list_footer">
              <li class="list__item"><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
              <li  class="list__item"><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
          </ul>                      
      </div>
  -->
      <a href="#home"><div class="arrow"></div></a>
      <div class="copyright">
        <div class="logo__footer">
          <img src="../assets/logo.png" alt="Logo Evellyn Doceria & Bistrô" />
        </div>
        <span>Todos os direitos reservados</span>
        <p>Evellyn Doceria & Bistrô</p>
      </div>
    </footer>
  </body>
</html>
