<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evellyn Doceria & Bistrô</title>
    <link rel="stylesheet" href="../css/style.css" />
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="home">
      <div class="logo">
        <img src="../assets/logo.png" alt="logo Evellyn Doceria & Bistrô" />
      </div>
    </header>

    <div class="navigation-back">
      <a class="btn" href="../index.html">Voltar</a>
    </div>
    <div class="title__view">
      <h2>Bolo na Taça</h2>
    </div>
    <section class="section-view">
      <!-- Categorias de Produtos -->
      <div class="produto_outros">
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description"> 
                <h3>CHOCOLATE</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo de chocolate, ganache de chocolate, brigadeiro, sorvete de chocolate, calda de chocolate.
                </p>                   
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>Dois Amores</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo de chocolate, creme de nutella, creme kinder, sorvete de baunilha, Calda de Chocolate
                </p>  
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>Limão</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo de limão, brigadeiro de limão, sorvete de baunilha, calda de limão.
                </p>  
              </div>
            </div>
            <div class="line">
              <img src="../assets/sets.png" alt="" />
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa8.jpeg" alt="" />
              <div class="item__description">
                <h3>LIMÃO COM CHOCOLATE</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo de limão, brigadeiro de limão, ganache de chocolate, sorvete de baunilha, calda de limão.
                </p>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>NINHO COM CHOCOLATE</h3>
                <span>R$ 18,00</span>
                <p>
                  Bolo branco, Creme de ninho, ganache de chocolate, sorvete de chocolate e calda de chocolate.
                </p>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>NINHO COM MORANGO</h3>
                <span>R$ 18,00</span>
                <p>
                  Bolo branco, Creme de ninho, morangos e sorvete de morango.
                </p>
              </div>
            </div>
            <div class="line">
              <img src="../assets/sets.png" alt="" />
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>NINHO COM NUTELLA</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo branco, Creme de ninho, Nutella, sorvete de Baunilha e calda de chocolate.
                </p>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>PAÇOCA</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo Branco, Creme de Paçoca, Sorvete de Paçoca, Farofa de Amendoim.
                </p>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>SENSAÇÃO</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo de Chocolate, Recheio de morango, Geléia de morango, Sorvetes de Morango e Chocolate.
                </p>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>TWIX</h3>
                <span>R$ 18,00</span>
                <p>
                    Bolo de Chocolate , Creme Alpino, amendoim em pó, sorvete de chocolate, caramelo salgado, calda de chocolate.
                </p>
              </div>
            </div>
            <div class="line">
              <div class="title__view">
                <h2>Desejo Grego</h2>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/tacas/desejogrego/morango.jpg" alt="" />
              <div class="item__description"> 
                <h3>MORANGO</h3>
                <span>R$ 16,00</span>
                <p>
                    Chocolate alpino cremoso, brigadeiro branco, sorvete iogurte grego, creme de morango, finalizado com bolo red velvet.
                </p>                   
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/tacas/desejogrego/maracuja.jpg" alt="" />
              <div class="item__description">
                <h3>MARACUJÁ</h3>
                <span>R$ 16,00</span>
                <p>
                    Chocolate alpino cremoso, brigadeiro branco, sorvete iogurte grego, creme de maracujá, finalizado com bolo bran.
                </p>  
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/tacas/desejogrego/limao.jpg" alt="" />
              <div class="item__description">
                <h3>Limão</h3>
                <span>R$ 16,00</span>
                <p>
                    Chocolate alpino cremoso, brigadeiro branco, sorvete iogurte grego, creme de limão, finalizado com bolo de limão.
                </p>  
              </div>
            </div>
            <div class="line">
              <div class="title__view">
                <h2>Açaí</h2>
              </div>
            </div>

            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description"> 
                <h3>AÇAÍ TRADICIONAL</h3>
                <span>R$ 16,00</span>
                <p>Açaí, Granola, Creme de ninho, Morango e Banana.
                </p>                   
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa1.jpeg" alt="" />
              <div class="item__description">
                <h3>AÇAÍ COM CREME DE PAÇOCA</h3>
                <span>R$ 18,00</span>
                <p>
                  Açaí, Creme de Ninho, Creme de Paçoca, Farofa de Amendoim, Morango e Banana.
                </p>  
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/tacas/acai/acai_limao.jpg" alt="" />
              <div class="item__description">
                <h3>Açaí Limão</h3>
                <span>R$ 20,00</span>
                <p>Açaí, creme de limão, brigadeiro de limão, raspa de limão.
                </p>  
              </div>
            </div>
            <div class="line">
              <img src="../assets/sets.png" alt="" />
            </div>
            <div class="item__box">
              <img src="../assets/capas/capa8.jpeg" alt="" />
              <div class="item__description">
                <h3>AÇAÍ TRUFADO</h3>
                <span>R$ 20,00</span>
                <p>
                  Açaí, Granola, Ganache de chocolate, Creme de ninho, Geléia de Morango, Brigadeiro, Farofa de amendoim, Morango e Banana.
                </p>
              </div>
            </div>
            <div class="item__box">
              <img src="../assets/tacas/acai/acai_bueno.jpg" alt="" />
              <div class="item__description">
                <h3>Açaí Bueno</h3>
                <span>R$ 20,00</span>
                <p>Açaí, Creme kinder, farofa de biscoito.
                </p>
              </div>
              </div>
        
        </div>
      </div>
    </section>
    <div class="navigation-back">
      <a class="btn" href="../index.html">Voltar</a>
    </div>
    <footer>
      <div class="endereco">
        <h3>Endereços</h3>
        <div class="category_endereco">
          <div class="endereco__item">
            <span>Jardim Paulista Baixo</span>
            <p>Av. Pres. Tancredo Neves, 9A</p>
          </div>
          <div class="endereco__item">
            <span>Casa Caiada</span>
            <p>Av. Carlos de Lima Cavalcante, 3911</p>
          </div>
        </div>
      </div>
      <!--      
          <div class="container__info">            
              <ul class="list_footer">
                  <li class="list__item"><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                  <li  class="list__item"><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
              </ul>                      
          </div>
      -->
      <a href="#home"><div class="arrow"></div></a>
      <div class="copyright">
        <div class="logo__footer">
          <img src="../assets/logo.png" alt="Logo Evellyn Doceria & Bistrô" />
        </div>
        <span>Todos os direitos reservados</span>
        <p>Evellyn Doceria & Bistrô</p>
      </div>
    </footer>
  </body>
</html>
