<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evellyn Doceria & Bistrô</title>
    <link rel="stylesheet" href="../css/style.css" />
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="home">
      <div class="logo">
        <img src="../assets/logo.png" alt="logo Evellyn Doceria & Bistrô" />
      </div>
    </header>

    <div class="navigation-back">
      <a class="btn" href="../index.html">Voltar</a>
    </div>
    <div class="title__view">
      <h2>Taças</h2>
    </div>
    <section>
      <!-- Categorias de Produtos -->
      <div class="produtos">
          <div class="item__box">
            <img src="../assets/tacas/chocobrownie.jpg" alt="" />
            <div class="item__description">
              <h3>CHOCOBROWNIE</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de Chocolate, farofa de brownie, sorvete de
                chocolate, brownie, ganache de chocolate calda de chocolate.
              </p>                   
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/oreo.jpg" alt="" />
            <div class="item__description">
              <h3>Oreo</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro branco, gotas de biscoito Oreo, sorvete de baunilha,
                recheio laka oreo, biscoito Oreo.
              </p>  
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/leite_com_creme_de_nutella.jpg" alt="" />
            <div class="item__description">
              <h3>LEITE COM CREME DE NUTELLA</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de Chocolate, leite em pó, sorvete chocoleite, creme
                de ninho, creme de nutella, bolo branco, calda de chocolate.
              </p>  
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/sensacao.jpg" alt="" />
            <div class="item__description">
              <h3>SENSAÇÃO</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de morango, raspas de chocolate, sorvete de
                chocolate, sorvete de morango, ganache de chocolate, calda de
                chocolate, morango, creme de morango, bolo de chocolate
              </p>
            </div>
          </div>
        <div class="line">
          <img src="../assets/sets.png" alt="" />
        </div>
          <div class="item__box">
            <img src="../assets/tacas/sonho_de_valsa.jpg" alt="" />
            <div class="item__description">
              <h3>SONHO DE VALSA</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de chocolate, farofa de biscoito, sorvete sonho de
                valsa, Recheio sonho de valsa, calda de chocolate.
              </p>
            </div>
            </div>
          <div class="item__box">
            <img src="../assets/tacas/unicornio.jpg" alt="" />
            <div class="item__description">
              <h3>UNICÓRNIO</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de morango, sorvete unicórnio, balas finni,
                marshimelow, docinho de leite em pó, chantilly, calda
              </p>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/nevada.jpg" alt="" />
            <div class="item__description">
              <h3>NEVADA</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de chocolate, sorvete de morango, geléia de morango,
                morangos, creme de ninho, ovomaltine, chocolate bis.
              </p>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/ninho_morango_nutella.jpg" alt="" />
            <div class="item__description">
              <h3>NINHO MORANGO NUTELLA</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro de leite, nutella, sorvete chocoleite, cheme de
                ninho, creme de nutella, morangos.
              </p>
            </div>
          </div>
        <div class="line">
          <img src="../assets/sets.png" alt="" />
        </div>
          <div class="item__box">
            <img src="../assets/tacas/choconobre.jpg" alt="" />
            <div class="item__description">
              <h3>CHOCONOBRE</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro belga, raspas de chocolate, nutella, chocolate,
                mousse de chocolate, barrinha de chocolate, sorvete de
                chocolate, caramelo salgado, calda de chocolate.
              </p>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/lumiere.jpg" alt="" />
            <div class="item__description">
              <h3>LUMIÈRE DORÉE</h3>
              <span>R$ 25,00</span>
              <p>
                Mousse de Chocolate Belga Gold, Caramelo de Chocolate Belga
                Caramel, Sorvete de Creme, Brownie de chocolate recheado com
                brigadeiro de chocolate belga Callebout Gold.
              </p>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/redvelvet.jpg" alt="" />
            <div class="item__description">
              <h3>RED VELVET</h3>
              <span>R$ 25,00</span>
              <p>
                Brigadeiro branco, bolo red velvet, sorvete iogurte grego, creme
                de ninho, morango.
              </p>
            </div>
          </div>
          <div class="item__box">
            <img src="../assets/tacas/exagere.jpg" alt="" />
            <div class="item__description">
              <h3>EXAGÉRÉ</h3>
              <span>R$ 25,00</span>
              <p>
                Creme de chocolate branco, crem de chocolate Belga, morangos,
                sorvete de baunilha, mouse de chocolate.
              </p>
            </div>
          </div>  
        <div class="line">
          <img src="../assets/sets.png" alt="" />
        </div>
        <div class="item__box">
           <img src="../assets/tacas/brownietrufado.jpg" alt="">
           <div class="item__description">
            <h3>BROWNIE TRUFADO</h3>
              <span>R$ 26,00</span>
              <p>Brigadeiro de chocolate, ganache de chocolate, creme de ninho, brownie, sorvete de chocolate.</p>
           </div>
        </div>
        </div>
      </div>
    </section>
    <div class="navigation-back">
      <a class="btn" href="../index.html">Voltar</a>
    </div>
    <footer>
      <div class="endereco">
        <h3>Endereços</h3>
        <div class="category_endereco">
          <div class="endereco__item">
            <span>Jardim Paulista Baixo</span>
            <p>Av. Pres. Tancredo Neves, 9A</p>
          </div>
          <div class="endereco__item">
            <span>Casa Caiada</span>
            <p>Av. Carlos de Lima Cavalcante, 3911</p>
          </div>
        </div>
      </div>
      <div class="container__info">            
        <ul class="list_footer">
            <li class="list__item"><a href="#"><img src="../assets/facebook.svg" alt=""></a></li>
            <li  class="list__item"><a href="#"><img src="../assets/instagram.svg" alt=""></a></li>
        </ul>                      
    </div>
      <div class="copyright">
        <div class="logo__footer">
          <img src="../assets/logo.png" alt="Logo Evellyn Doceria & Bistrô" />
        </div>
        <span>Todos os direitos reservados</span>
        <p>Evellyn Doceria & Bistrô</p>
      </div>
    </footer>
  </body>
</html>
